<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--**************************configSections************************-->
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--**************************appSettings**************************-->
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;" />
    <add key="ChartImageHandler" value="storage=memory;timeout=20;" />
    <add key="LogFileLocation" value="Log\SSL.Log.txt" />
    <!--<add key="AttendanceDataPath" value="D:\Program Files\att2000.mdb" />-->
    <add key="AttendanceDataPath" value="\\192.168.88.41\ZKTeco\att2000.mdb" />
    <!--<add key="AttendanceDataPath" value="\\192.168.0.175\Share-Masum\Khan\att2000.mdb" />-->
    <!--<add key="SSL.ERP.MainDatabase" value="Data Source=.\SQLEXPRESS;Initial Catalog=ERPSSL_HRM;User ID=sa;Password=192.168.0.17;MultipleActiveResultSets=True" />-->
  </appSettings>
  <!--**************************connectionStrings*******************-->
  <connectionStrings>
    <add name="ERPSSLADO" connectionString="Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ERPSSL_AzimConnectionString" connectionString="Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ERPSSL_AzimConnectionString1" connectionString="Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234" providerName="System.Data.SqlClient" />
    <add name="SSLFixedAsset" connectionString="Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="dbConnection_AC" connectionString="Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DataConnection" connectionString="Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ERPSSL_LoginEntities" connectionString="metadata=res://*/AppGateway.DAL.LoginModel.csdl|res://*/AppGateway.DAL.LoginModel.ssdl|res://*/AppGateway.DAL.LoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_AdminEntities1" connectionString="metadata=res://*/Adminpanel.DAL.AdminModel.csdl|res://*/Adminpanel.DAL.AdminModel.ssdl|res://*/Adminpanel.DAL.AdminModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_SALESEntities" connectionString="metadata=res://*/Sale.DAL.SalesModel.csdl|res://*/Sale.DAL.SalesModel.ssdl|res://*/Sale.DAL.SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSLHBEntities" connectionString="metadata=res://*/HRM.DAL.HRMDataModel.csdl|res://*/HRM.DAL.HRMDataModel.ssdl|res://*/HRM.DAL.HRMDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.17;initial catalog=ERPSSL_Azim;persist security info=True;user id=sa;password=ssl@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_CommercialEntities" connectionString="metadata=res://*/COMMERCIAL.DAL.CommercialModel.csdl|res://*/COMMERCIAL.DAL.CommercialModel.ssdl|res://*/COMMERCIAL.DAL.CommercialModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BackUpHRMEntities" connectionString="metadata=res://*/HRM.DAL.AttendanceDataModel.Model1.csdl|res://*/HRM.DAL.AttendanceDataModel.Model1.ssdl|res://*/HRM.DAL.AttendanceDataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=BackUpHRM;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="POS_Entities" connectionString="metadata=res://*/POS.DAL.POS_DataModel.csdl|res://*/POS.DAL.POS_DataModel.ssdl|res://*/POS.DAL.POS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CRM_Entities" connectionString="metadata=res://*/CRM.DAL.ModelCRM.csdl|res://*/CRM.DAL.ModelCRM.ssdl|res://*/CRM.DAL.ModelCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_INVEntities" connectionString="metadata=res://*/INV.DAL.ERPSSL_INVModel.csdl|res://*/INV.DAL.ERPSSL_INVModel.ssdl|res://*/INV.DAL.ERPSSL_INVModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.17;initial catalog=ERPSSL_Azim;persist security info=True;user id=sa;password=ssl@1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_LCEntities" connectionString="metadata=res://*/LC.DAL.LCDataModel.csdl|res://*/LC.DAL.LCDataModel.ssdl|res://*/LC.DAL.LCDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.17;initial catalog=ERPSSL_Azim;persist security info=True;user id=sa;password=ssl@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_MerchandisingEntities" connectionString="metadata=res://*/Merchandising.DAL.Merchandising_DataModel.csdl|res://*/Merchandising.DAL.Merchandising_DataModel.ssdl|res://*/Merchandising.DAL.Merchandising_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.17;initial catalog=ERPSSL_Azim;persist security info=True;user id=sa;password=ssl@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_HMSEntities" connectionString="metadata=res://*/HMS.DAL.HMS_DataModel.csdl|res://*/HMS.DAL.HMS_DataModel.ssdl|res://*/HMS.DAL.HMS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.17;initial catalog=ERPSSL_Azim;persist security info=True;user id=sa;password=ssl@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_Visitor_Entities" connectionString="metadata=res://*/Visitor.Visitor_DataModel.csdl|res://*/Visitor.Visitor_DataModel.ssdl|res://*/Visitor.Visitor_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ERPSSL_Marketing_Entities" connectionString="metadata=res://*/Marketing.DAL.Model_Marketing.csdl|res://*/Marketing.DAL.Model_Marketing.ssdl|res://*/Marketing.DAL.Model_Marketing.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.17;Initial Catalog=ERPSSL_Azim;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--**************************system.web**************************-->
  <system.web>
    <!--******************compilation*******************-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--******************httpHandlers*******************-->
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <!--******************httpModules*******************-->
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <!--******************pages*******************-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="102400" executionTimeout="5000" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="ErrorPage.aspx"/>-->
    <authentication mode="Forms" />
  </system.web>
  <!--**************************system.web End**************************-->
  <!--**************************entityFramework**************************-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--**************************entityFramework**************************-->
  <!--**************************system.webServer************************-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Login.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--**************************businessObjects************************-->
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>